- @nav = 'archiv'
- @subnav = '2015_06_18'
- days = data.sessions2015_01.days


%h1 BarCamp Night - Juni 2015

.half
  %h2 Infos
  %p
    Die lange Sommerpause zwischen den BarCamps im Herbst ist euch zu fad? Uns auch, deshalb veranstalten wir nun regelmäßige BarCamp Nights in Regensburg!

  %p.space
    Der nächste Termin ist am
    %strong 18. Juni 2015

  %p Sichert euch gleich einen Platz bei der nächsten BarCamp Night!
  %p.space
    = link_to "BarCamp Night Tickets", "https://ti.to/bcrgb/barcamp-night-18-06-2015", class: "ticket space"

  %h2 Wieso eine BarCamp Night Regensburg?

  %p.space
    An diesem Abend gibt es das BarCamp sozusagen im Kleinformat. Für alle die mal hinein schnuppern wollen, wie so ein BarCamp überhaupt abläuft und natürlich auch für alle, die den Spirit wieder haben wollen!

  %h2 Wie läuft das Ganze ab?

  %p Um 18 Uhr geht’s los mit einer kurzen Begrüßung und Vorstellungsrunde. Danach werden die Sessions vorgestellt, die diesmal eine Länge von 40 Minuten haben.

  %p.space Danach kurze Pause von 5 Minuten, um evtl. den Raum zu wechseln und für die Session-Geber die Möglichkeit ihre Technik vorzubereiten.

.half.last


  %h2 Wie sieht’s mit Kosten und Verpflegung aus?

  %p Die BarCamp Nights sind soweit möglich kostenfrei! Damit ihr uns nicht verhungert, werden wir Pizzen ordern und auch Getränke bereitstellen.

  %p Wir behalten uns trotzdem vor, falls keine Sponsoren gefunden werden können, zukünftig einen kleinen Unkostenbeitrag zu erheben.

  %p
    Du möchtest uns als Sponsor unterstützen und uns für die nächste BarCamp Night oder das nächste BarCamp bei der Verpflegung finanziell unter die Arme greifen? Wir freuen uns über eine kurze Mail an
    = mail_to "kontakt@bcrgb.de", "kontakt@bcrgb.de"
