%script{:src => "https://de.amiando.com/resources/js/amiandoExport.js", :type => "text/javascript"}
%iframe#_amiandoIFrame21008545vwco6XQ{:frameborder => "0", :height => "2000px", :name => "_amiandoIFrame21008545vwco6XQ", :src => "https://de.amiando.com/bcrgb.html?viewType=iframe&distributionChannel=C…", :width => "100%"}
  %p This page requires frame support. Please use a frame compatible browser to see the amiando ticket sales widget.
  %p
    Try out the
    %a{:href => "http://www.amiando.com/"} online event registration system
    from amiando.
%p{:style => "text-align: left; font-size:10px;"}
  %a{:alt => "conference - Online Event Management", :href => "http://www.amiando.com", :target => "_blank", :title => "conference - Online Event Management"} conference - Online Event Management
  with the ticketing solution from amiando