-@nav = 'sessionvorschlaege'

#content-main

  .full_content
    %h2 Sessionvorschläge
    %p
      Sessions werden auf BarCamps traditionell erst am Tag des Geschehens geplant. Die Allgemeinheit wird dann entscheiden, welche Sessions stattfinden.

    %p
      Eine gelungene Session lebt vom Dialog. Reine Selbstdarstellungen, Produktpräsentationen oder Unternehmensvorstellungen sind verpönt. BarCamps sind Austauschplattformen, bei der Wissen geteilt, Fragen gestellt und Themen gemeinsam erarbeitet werden können.

    %p
      Deine Session muss nicht großartig vorbereitet sein, kann sogar ganz spontan entstehen. Dennoch ist es nicht unüblich, sich schon vorher Gedanken zu machen. Wenn du schon eine Idee, ein Thema, einen Vortrag hast, kannst du ihn schon einmal im folgenden Formular notieren. Das ist natürlich unverbindlich, hilft aber vielleicht Unentschlossenen, eine Vorstellung der Themenvielfalt zu erlangen.

    %p
      Klicke auf den folgenden Link oder trage es direkt unten in das Formular ein: 
      = link_to 'Google Tabelle', 'https://docs.google.com/spreadsheets/d/1af8XuJ6tdzvA755BZiQP0Lk8KThsL7Sup6hLgC3Ufzs/edit?usp=sharing'

    <iframe src='https://docs.google.com/spreadsheets/d/1af8XuJ6tdzvA755BZiQP0Lk8KThsL7Sup6hLgC3Ufzs/edit?usp=sharing' width='100%' height='500px'/>